* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Rubik', sans-serif;
  background-color: #ffffff;
  line-height: 26px;
  color: #5c646e;
}

.container {
  width: 1282px;
  margin: 0 auto;
}

a {
  color: #1976d2;;
  text-decoration: underline;
  line-height: 28px;
  font-style: italic;
  font-weight: 400;
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: auto;
}

p,
ul,
ol, 
figure {
  margin: 0 0 16px 0;
}

* + p,
* + ul,
* + ol * + figure {
  margin-top: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.67em 0;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 0.67em;
}

h1 {
  font-size: 44px;
  font-weight: 500;
  line-height: 54px;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;  
}

h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 38px;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 38px;
}

h5 {
  font-size: 20px;
  line-height: 28px; 
}