.breadcrumb {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  
}
.breadcrumb > li {
  padding: 8px 0;
}
.breadcrumb > li:not(:last-child)::after {
  content: "";
  display: inline-block;
  background-image: url(../../images/right-arrow.png);
  height: 8px;
  width: 5px;
  margin: 0 11px;
}
.breadcrumb > li > a, .breadcrumb > li > span  {
  color: #282b2f;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  text-decoration: none;
}
.breadcrumb > li > a:hover {
  text-decoration: underline;
}
.breadcrumb > li > *:not(a) {
  color: #78909c;
  pointer-events: none;
}
