.table {
  border-collapse: collapse;
  color: #282b2f;
  font-weight: 400;
  text-align: center;
  width: 100%;
  line-height: 38px;
}

.thead {
  font-size: 18px;
  font-weight: 500;  
}

.thead .row th, tbody .row td {
  padding: 11px 0;
}

thead .row th:first-child {
  width: 110px;
}

.thead .row th:nth-child(2) {
  width: 240px;
}

.thead .row th:nth-child(3) {
  width: 140px;
}

.thead .row th:nth-child(4) {
  width: 190px;
}

.tbody .row:nth-child(odd) {
  background-color: #f8f8f8;
}

